.header {
  background-color: #1f2640;
  align-items: center;
  display: flex;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  .wrapper {
    margin-left: 8em;
    display: flex;
    img {
      height: 30px;
    }
  }
}
