.outerDiv {
  padding: 3.2em 0em 1em 5em;
  overflow-y: auto;
  h2 {
    color: #2b416c;
    font-style: normal;
    font-weight: bold;
  }
  .wrapperDiv {
    font-family: sans-serif;
    .tabs {
      font-size: 11px;
      width: 40%;
      display: flex;
      font-weight: 600;
      justify-content: space-between;
      color: #83a515;
      cursor: pointer;
      span {
        padding: 5px 8px 8px;
      }
      .active {
        border-bottom: 2px solid #83a515;
      }
    }
  }
}
@media (min-width: 300px) and (max-width: 500px) {
  .outerDiv {
    padding: 2em 0em 1em 5em;
  }
}
